.frost-box {

    
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(7px);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
    color: white;


}


.frostbox-announce-head{

    font-size: 50px;
}